HOST=0.0.0.0
PORT=40223
# --- 项目基础 ---
ENVIRONMENT=dev
DEBUG=True
# 允许跨域的域名，逗号分隔
BACKEND_CORS_ORIGINS="http://localhost:3000,http://localhost:8000"

# --- 安全设置 ---
# 生产环境请务必修改此密钥 (可以使用 `openssl rand -hex 32` 生成)
SECRET_KEY=2f0e33bc7fe570550e207cdeca01a8851ad8ec9c88e480b1a171f29aae77f531
ACCESS_TOKEN_EXPIRE_MINUTES=11520

ADMIN_TOKEN= 
# --- 数据库配置 ---
# 类型: mysql 或 sqlite
DB_TYPE=sqlite

# MySQL 配置 (当 DB_TYPE=mysql 时生效)
MYSQL_SERVER=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=2api_db

# SQLite 配置 (当 DB_TYPE=sqlite 时生效)
SQLITE_FILE=data/db.sqlite3

# --- Redis 配置 ---
USE_REDIS=True
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

BACKEND_CORS_ORIGINS = "http://localhost,http://localhost:3000,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"