# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
.DS_Store

# Database
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/

# Testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# data
data/
migrations/
logs/